$primary-color: #848FAC;
$secondary-color: #192252;
$link-color: #424F7B;
$background-color: #0E1734;
$footer-text-color: #D9DBDE;

$font-stack: 'Inter', sans-serif;
$font-stack2: 'Montserrat', sans-serif;

